body,html {
    background:rgb(78, 84, 87);
    font-family: 'Patua One', cursive;
    width: 100%;
    height: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    margin: 0;
    padding:0;

    }
    .focused{
        color:#000000;
        border:#000000 solid 3px;
    }
    body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 100%;
      }

    button {
        min-width: 150px;
        min-height: 40px;
        border: none;
        border-radius: 100px;
        text-shadow: 0 5px 20px rgba(0, 67, 192, 0.4), 0 2px 2px rgba(192, 36, 0, 0.4);
        background-image: radial-gradient(
            100% 75% at 50% 100%,
            #fed262 0%,
            #c40900 100%);
  box-shadow: inset 0 3px 15px 0 rgb(35, 174, 0);
        background: rgb(114, 114, 150);
    }

    /* this element is depreciated. Someday it will stop working */
    ::-webkit-scrollbar {
        height: 12px;
        width: 12px;
        background: rgb(46, 76, 92);
    }
    
    ::-webkit-scrollbar-thumb {
        background: #000000;
        -webkit-border-radius: 100px;
        -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    }
    
    ::-webkit-scrollbar-corner {
        background: #000;
    }
    