<footer class="bg-dark text-center text-lg-start" id="id-footer">
    <div class="language-line">
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="LanguageDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/icons/g_translate.svg" class="menu-book">
            </a>
            <div class="dropdown-menu" id="dropdownleft1" aria-labelledby="LanguageDropdownMenuLink">
            <a class="dropdown-item" id="lang-en" href="">English</a>
            <a class="dropdown-item" id="lang-pl" href="">Polski</a>
            <a class="dropdown-item" id="lang-ua" href="">український</a>
            </div>
        </li>
    </div>
    <div class="text-center p-3" id="footer-text">
      © 2023 by Mirosław Mitka
    </div>
</footer>